h2 {
  text-align: center;
}

table {
  margin: 0 auto;
  width: 350px;
}

table th {
  cursor: pointer;
  font-weight: 500;
  font-size: 17px;
  padding-bottom: 10px;
}

table tr {
  margin: 0 3px;
}

table td.symbol {
  display: flex;
  align-items: center;
}

table th:hover {
  text-decoration: underline;
}

table th.active {
  font-weight: 700;
}

table th.active:after {
  content: 	" \2193";
}

table th.active.up:after {
  content: 	" \2191";
}

table td:nth-child(3) {
  text-align: center;
}

.flag {
  width: 48px;
  margin: 0 5px;
  border: 1px dotted silver;
}

.price {
  font-weight: 500;
  color: #A9A9A9;
}


.price-down--0 { color: #ff7f7f; }
.price-down--1 { color: #ff6666; }
.price-down--2 { color: #ff4c4c; }
.price-down--3 { color: #ff3232; }
.price-down--4 { color: #ff1919; }
.price-down--5, 
.price-down--6, 
.price-down--7, 
.price-down--8 { color: #ff0000; }

.price-up--0 { color: #7fff7f; }
.price-up--1 { color: #66ff66; }
.price-up--2 { color: #4cff4c; }
.price-up--3 { color: #32ff32; }
.price-up--4 { color: #19ff19; }
.price-up--5, 
.price-up--6,
.price-up--7,
.price-up--8 { color: #00ff00; }

.price-up--5, .price-down--5 { font-weight: 600 }
.price-up--6, .price-down--6 { font-weight: 700 }
.price-up--7, .price-down--7 { font-weight: 800 }
.price-up--8, .price-down--8 { font-weight: 900 }



.dayNav {
  text-align: center; 
  margin-bottom: 20px;
}

.dayNav button {
  width: 130px;
  margin: 0 10px;
}

.search {
  text-align: center;
  margin: 0 auto;
  width: 200px;
}

.search .currencyName {
  text-transform: uppercase;
  max-width: 200px;
}

.pagination {
    width: 200px;
    margin: 0px auto 0;
}

.pagination-perpage {
  margin-top: 20px;
  max-width: 200px;
  margin: 20px auto 0;
}

.pagination-perpage .currencyCounter {
  padding-bottom: 10px;
}

.currencies-pages {
  padding-top: 20px;
  width: 100%;
}

.currencies-pages .page-link {
  font-size: 20px;
  background: none;
  border: none;
  line-height: 25px;
  color: #080808;
}

.currencies-pages .page-link:focus {
  box-shadow: none;
}

.currencies-pages .page-link:hover {
  font-weight: bold;
}

.currencies-pages .page-item.disabled {
  cursor: not-allowed;
}

.currencies-pages .page-item.disabled .page-link {
  background: none; 
  font-size:25px;
  cursor: not-allowed;
}

.currencies-pages .page-item.active .page-link {
  background-color: #3367d6;
  border: none;
}



.header {
  font-size: 26px;
  text-align: center;
  font-weight: 500;
  margin: 10px auto;
}

.header .currentDate {
  width: 160px;
  padding: 0;
  margin: 0;
  line-height: 35px;
  height: 40px;
  padding-left: 5px;
  margin-left: 10px;
  border: none;
  font-weight: 500;
  vertical-align: top;
  color: black;
}

.header .headerTitle {
  line-height: 35px;
}